.qrcode-container {
  max-width: 1080px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.qrcode-container h2 {
  font-size: 50px;
}

.qrcode-container .content {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.qrcode-container .control {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
}

.qrcode-container .qrcode-message {
  flex: 1;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 18px;
  resize: none;
}

.qrcode-container .generate-btn {
  border: none;
  border-radius: 25px;
  padding: 25px 30px;
  font-size: 27px;
  background: #001219;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 1080px) {
  .qrcode-container .content {
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
}
